body {
    font-family: Chilanka;
    text-align: center;
    background-image: url('/static/images/table.jpg');
    background-size: cover;
}


h1 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-gradient(linear,  left top,  left bottom,
    color-stop(0.00, red),
    color-stop(16%, orange),
    color-stop(32%, yellow),
    color-stop(48%, green),
    color-stop(60%, blue),
    color-stop(76%, indigo),
    color-stop(1.00, violet));
  }


h3 {
   -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


a {
    text-decoration: none;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    border-width: thin;
    color: black;
    display: inline-block;
    margin: 10px;
    box-shadow: -11px 12px 7px -8px rgba(0,0,0,0.75);
    padding: 20px;
}


#start_button {
    background-color: mediumseagreen;
    padding-left: 17px;
    padding-right: 17px;
}


#start_button:hover {
    font-weight: bold;
    color: mediumseagreen;
    background-color: black;
}


#score_button {
    background-color: darkorange;
    padding-left: 15px;
    padding-right: 15px;
}


#score_button:hover {
    font-weight: bold;
    color: darkorange;
    background-color: black;
}


.back_button {
    background-color: cornflowerblue;
}


.back_button:hover {
    font-weight: bold;
    color: cornflowerblue;
    background-color: black;
}


#quit-btn {
    background-color: #9C1A1C;
    font-family: Chilanka;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    border-width: thin;
    color: black;
    display: inline-block;
    margin: 10px;
    padding: 20px;
    box-shadow: -11px 12px 7px -8px rgba(0,0,0,0.75);

}


#quit-btn:hover {
    font-weight: bold;
    color: #9C1A1C;
    background-color: black;
}


.container {
    background-color: #86989B;
    border-color: black;
    border-style: solid;
    border-width: thin;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    box-shadow: -7px 11px 7px -4px rgba(0,0,0,0.75);

}


.empty{
    background-color: #485F6E;
}


.red{
    background-color: #9C1A1C;
    border-radius: 50%;
}


.blue{
    background-color: blue;
    border-radius: 50%;
}


.yellow{
    background-color: yellow;
    border-radius: 50%;
}


.orange{
    background-color: darkorange;
    border-radius: 50%;
}


.green{
    background-color: green;
    border-radius: 50%;
}


.violet{
    background-color: darkviolet;
    border-radius: 50%;
}


td {
    border-style: solid;
    border-color: #485F6E;
    border-width: thin;
    width: 40px;
    height: 40px;
}


.opinion {
    width: 15px;
    height: 15px;
}



.white-opinion{
    background-color: white;
    border-radius: 50%;
}


.black-opinion{
    background-color: black;
    border-radius: 50%;

}


#play-btn{
    text-align: center;
    font-size: 30px;
    padding: 8px 10px;
    border-radius: 50%;
    border-color: #9C1A1C;
    font-weight: bold;
    color: #9C1A1C;
    background-color: black;
}


#play-btn:hover {
    color: darkorange;
    border-color: darkorange;
}


#play-btn:active {
    color: seagreen;
    border-color: seagreen;
}


#retry-btn {
    font-family: Chilanka;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    border-width: thin;
    color: black;
    display: inline-block;
    margin: 10px;
    padding: 20px;
    box-shadow: -11px 12px 7px -8px rgba(0,0,0,0.75);
    background-color: burlywood;
}

#retry-btn:hover {
    font-weight: bold;
    background-color: black;
    color: burlywood;;

}


.hidden{
    visibility: hidden;
}


footer {
    position:fixed;
    bottom:10px;
    align-items: center;
    justify-content: center;
}