body {
    font-family: Chilanka;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('/static/images/table.jpg');
    background-size: cover;
}


h1, .main-menu-title {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom,
    color-stop(0.00, red),
    color-stop(16%, orange),
    color-stop(32%, yellow),
    color-stop(48%, green),
    color-stop(60%, blue),
    color-stop(76%, indigo),
    color-stop(1.00, violet));
}

.main-menu-title {
    font-size: 60px;
}

h1 {
    font-size: 80px;
    vertical-align: center;
    horiz-align: center;
}


h2 {
    font-size: 60px;
}

h3 {
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow: 3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: 30px;
}

h4 {
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow: 3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: 40px;
}

#sign-up-btn, #log-in-btn {
    background-color: goldenrod;
    font-family: Chilanka;
}


#sign-up-btn:hover, #log-in-btn:hover {
    color: goldenrod;
}

a, #retry-btn, #sign-up-btn, #log-in-btn {
    text-decoration: none;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    border-width: thin;
    color: black;
    display: inline-block;
    margin: 10px;
    box-shadow: -11px 12px 7px -8px rgba(0, 0, 0, 0.75);
    padding: 20px;
}


#start-btn:hover, #score-btn:hover, .logout-btn:hover, .back-btn:hover, #retry-btn:hover, #without-btn:hover, #sign-up-btn:hover, #log-in-btn:hover {
    background-color: black;
    font-weight: bold;
}


#start-btn {
    background-color: mediumseagreen;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 35px;
}


#start-btn:hover {
    color: mediumseagreen;
}


#score-btn {
    background-color: darkorange;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 35px;
}


#score-btn:hover {
    color: darkorange;
}


#without-btn {
    background-color: blueviolet;
}


#without-btn:hover {
    color: blueviolet;
}


.back-btn {
    background-color: cornflowerblue;
}


.back-btn:hover {
    color: cornflowerblue;
}


.logout-btn {
    background-color: #9C1A1C;
    font-family: Chilanka;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    border-width: thin;
    color: black;
    display: inline-block;
    margin: 10px;
    padding: 30px;
    box-shadow: -11px 12px 7px -8px rgba(0, 0, 0, 0.75);
    font-size: 40px;
}


.logout-btn:hover {
    color: #9C1A1C;
}


.container {
    background-color: #86989B;
    vertical-align: center;
    horiz-align: center;
    border-color: black;
    border-style: solid;
    border-width: thin;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: -7px 11px 7px -4px rgba(0, 0, 0, 0.75);
}


.registration-container {
    background-color: #86989B;
    height: 350px;
    width: 230px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -7px 11px 7px -4px rgba(0, 0, 0, 0.75);
    vertical-align: center;
    horiz-align: center;
    border-color: black;
    border-style: solid;
    border-width: thin;
    border-radius: 7px;
    margin: 10px;
    padding: 5px;

}


.guess-cell, .goal-cell {
    border-radius: 50%;
}


.empty.guess-cell {
    border-radius: 0%;
}


.empty {
    background-color: #485F6E;
}


.red {
    background-color: #9C1A1C;
}


.blue {
    background-color: blue;
}


.yellow {
    background-color: yellow;
}


.orange {
    background-color: darkorange;
}


.green {
    background-color: green;
}


.violet {
    background-color: darkviolet;
}


td {
    border-style: solid;
    border-color: #485F6E;
    border-width: thin;
    width: 40px;
    height: 40px;
}


.opinion {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}


.empty.opinion {
    border-radius: 0%;
}


.white {
    background-color: white;
}


.black {
    background-color: black;
}


#play-btn {
    text-align: center;
    font-size: 30px;
    padding: 8px 10px;
    border-radius: 50%;
    border-color: #9C1A1C;
    font-weight: bold;
    color: #9C1A1C;
    background-color: black;
}


#play-btn:hover {
    color: darkorange;
    border-color: darkorange;
}


#play-btn:active {
    color: seagreen;
    border-color: seagreen;
}


#retry-btn {
    font-family: Chilanka;
    padding: 20px;
    background-color: burlywood;
    font-size: 16px;
}


#retry-btn:hover {
    color: burlywood;
}


.hidden {
    visibility: hidden;
}


footer {
    position: fixed;
    bottom: 10px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}


form {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

input {
    border-radius: 7px;
}

label {
    padding: 5px;
}

.game-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#user-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#high-score-table {
    border-collapse: collapse;
    border: 1px solid grey;
    border-radius: 7px;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    vertical-align: center;
    horiz-align: center;
}

#high-score-table th {
    padding: 20px;
}

#high-score-table td {
    padding: 5px;
}

#high-score-table thead {
    background-color: darkorange;
}

#high-score-table tbody {
    background-color: burlywood;
}


.score-data {
    font-size: 25px;
}

.currentUser {
    background-color: blue;
}