{% extends 'layout.html' %}

{% block title %}Game{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
{% endblock %}


{% block content %}
<button id="retry-btn">↻ Retry</button><br>
<div class = "container">
    <table id="player_board">
        <tbody>
            <tr class="guess-row current-row" data-row-value="0">
                <td class="empty guess-cell" data-colour-value="empty" data-col-value="0"></td>
                <td class="empty guess-cell" data-colour-value="empty" data-col-value="1"></td>
                <td class="empty guess-cell" data-colour-value="empty" data-col-value="2"></td>
                <td class="empty guess-cell" data-colour-value="empty" data-col-value="3"></td>
                <td class="results">
                    <table>
                        <tr>
                            <td class="empty-opinion opinion " data-col-value="0"></td>
                            <td class="empty-opinion opinion" data-col-value="1"></td>
                        </tr>
                        <tr>
                            <td class="empty-opinion opinion" data-col-value="2"></td>
                            <td class="empty-opinion opinion" data-col-value="3"></td>
                        </tr>
                    </table>
                </td>

            </tr>
            <tr class="guess-row">
                <td class="first-color empty guess-cell" data-colour-value="empty" data-col-value="0"></td>
                <td class="second-color empty guess-cell" data-colour-value="empty" data-col-value="1"></td>
                <td class="third-color empty guess-cell" data-colour-value="empty" data-col-value="2"></td>
                <td class="fourth-color empty guess-cell" data-colour-value="empty" data-col-value="3"></td>
                <td class="results">
                    <table>
                        <tr>
                            <td class="empty-opinion opinion " data-col-value="0"></td>
                            <td class="empty-opinion opinion" data-col-value="1"></td>
                        </tr>
                        <tr>
                            <td class="empty-opinion opinion" data-col-value="2"></td>
                            <td class="empty-opinion opinion" data-col-value="3"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="guess-row">
                <td class="first-color empty guess-cell" data-colour-value="empty" data-col-value="0"></td>
                <td class="second-color empty guess-cell" data-colour-value="empty" data-col-value="1"></td>
                <td class="third-color empty guess-cell" data-colour-value="empty" data-col-value="2"></td>
                <td class="fourth-color empty guess-cell" data-colour-value="empty" data-col-value="3"></td>
                <td class="results">
                    <table>
                        <tr>
                            <td class="empty-opinion opinion " data-col-value="0"></td>
                            <td class="empty-opinion opinion" data-col-value="1"></td>
                        </tr>
                        <tr>
                            <td class="empty-opinion opinion" data-col-value="2"></td>
                            <td class="empty-opinion opinion" data-col-value="3"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="guess-row">
                <td class="first-color empty guess-cell" data-colour-value="empty" data-col-value="0"></td>
                <td class="second-color empty guess-cell" data-colour-value="empty" data-col-value="1"></td>
                <td class="third-color empty guess-cell" data-colour-value="empty" data-col-value="2"></td>
                <td class="fourth-color empty guess-cell" data-colour-value="empty" data-col-value="3"></td>
                <td class="results">
                    <table>
                        <tr>
                            <td class="empty-opinion opinion " data-col-value="0"></td>
                            <td class="empty-opinion opinion" data-col-value="1"></td>
                        </tr>
                        <tr>
                            <td class="empty-opinion opinion" data-col-value="2"></td>
                            <td class="empty-opinion opinion" data-col-value="3"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="guess-row">
                <td class="first-color empty guess-cell" data-colour-value="empty" data-col-value="0"></td>
                <td class="second-color empty guess-cell" data-colour-value="empty" data-col-value="1"></td>
                <td class="third-color empty guess-cell" data-colour-value="empty" data-col-value="2"></td>
                <td class="fourth-color empty guess-cell" data-colour-value="empty" data-col-value="3"></td>
                <td class="results">
                    <table>
                        <tr>
                            <td class="empty-opinion opinion " data-col-value="0"></td>
                            <td class="empty-opinion opinion" data-col-value="1"></td>
                        </tr>
                        <tr>
                            <td class="empty-opinion opinion" data-col-value="2"></td>
                            <td class="empty-opinion opinion" data-col-value="3"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="guess-row">
                <td class="first-color empty guess-cell" data-colour-value="empty" data-col-value="0"></td>
                <td class="second-color empty guess-cell" data-colour-value="empty" data-col-value="1"></td>
                <td class="third-color empty guess-cell" data-colour-value="empty" data-col-value="2"></td>
                <td class="fourth-color empty guess-cell" data-colour-value="empty" data-col-value="3"></td>
                <td class="results">
                    <table>
                        <tr>
                            <td class="empty-opinion opinion " data-col-value="0"></td>
                            <td class="empty-opinion opinion" data-col-value="1"></td>
                        </tr>
                        <tr>
                            <td class="empty-opinion opinion" data-col-value="2"></td>
                            <td class="empty-opinion opinion" data-col-value="3"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="guess-row">
                <td class="first-color empty guess-cell" data-colour-value="empty" data-col-value="0"></td>
                <td class="second-color empty guess-cell" data-colour-value="empty" data-col-value="1"></td>
                <td class="third-color empty guess-cell" data-colour-value="empty" data-col-value="2"></td>
                <td class="fourth-color empty guess-cell" data-colour-value="empty" data-col-value="3"></td>
                <td class="results">
                    <table>
                        <tr>
                            <td class="empty-opinion opinion " data-col-value="0"></td>
                            <td class="empty-opinion opinion" data-col-value="1"></td>
                        </tr>
                        <tr>
                            <td class="empty-opinion opinion" data-col-value="2"></td>
                            <td class="empty-opinion opinion" data-col-value="3"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="guess-row">
                <td class="first-color empty guess-cell" data-colour-value="empty" data-col-value="0"></td>
                <td class="second-color empty guess-cell" data-colour-value="empty" data-col-value="1"></td>
                <td class="third-color empty guess-cell" data-colour-value="empty" data-col-value="2"></td>
                <td class="fourth-color empty guess-cell" data-colour-value="empty" data-col-value="3"></td>
                <td class="results">
                    <table>
                        <tr>
                            <td class="empty-opinion opinion " data-col-value="0"></td>
                            <td class="empty-opinion opinion" data-col-value="1"></td>
                        </tr>
                        <tr>
                            <td class="empty-opinion opinion" data-col-value="2"></td>
                            <td class="empty-opinion opinion" data-col-value="3"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="guess-row">
                <td class="first-color empty guess-cell" data-colour-value="empty" data-col-value="0"></td>
                <td class="second-color empty guess-cell" data-colour-value="empty" data-col-value="1"></td>
                <td class="third-color empty guess-cell" data-colour-value="empty" data-col-value="2"></td>
                <td class="fourth-color empty guess-cell" data-colour-value="empty" data-col-value="3"></td>
                <td class="results">
                    <table>
                        <tr>
                            <td class="empty-opinion opinion " data-col-value="0"></td>
                            <td class="empty-opinion opinion" data-col-value="1"></td>
                        </tr>
                        <tr>
                            <td class="empty-opinion opinion" data-col-value="2"></td>
                            <td class="empty-opinion opinion" data-col-value="3"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="guess-row">
                <td class="first-color empty guess-cell" data-colour-value="empty" data-col-value="0"></td>
                <td class="second-color empty guess-cell" data-colour-value="empty" data-col-value="1"></td>
                <td class="third-color empty guess-cell" data-colour-value="empty" data-col-value="2"></td>
                <td class="fourth-color empty guess-cell" data-colour-value="empty" data-col-value="3"></td>
                <td class="results">
                    <table>
                        <tr>
                            <td class="empty-opinion opinion " data-col-value="0"></td>
                            <td class="empty-opinion opinion" data-col-value="1"></td>
                        </tr>
                        <tr>
                            <td class="empty-opinion opinion" data-col-value="2"></td>
                            <td class="empty-opinion opinion" data-col-value="3"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="guess-row">
                <td class="first-color empty guess-cell" data-colour-value="empty" data-col-value="0"></td>
                <td class="second-color empty guess-cell" data-colour-value="empty" data-col-value="1"></td>
                <td class="third-color empty guess-cell" data-colour-value="empty" data-col-value="2"></td>
                <td class="fourth-color empty guess-cell" data-colour-value="empty" data-col-value="3"></td>
                <td class="results">
                    <table>
                        <tr>
                            <td class="empty-opinion opinion " data-col-value="0"></td>
                            <td class="empty-opinion opinion" data-col-value="1"></td>
                        </tr>
                        <tr>
                            <td class="empty-opinion opinion" data-col-value="2"></td>
                            <td class="empty-opinion opinion" data-col-value="3"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="guess-row">
                <td class="first-color empty guess-cell" data-colour-value="empty" data-col-value="0"></td>
                <td class="second-color empty guess-cell" data-colour-value="empty" data-col-value="1"></td>
                <td class="third-color empty guess-cell" data-colour-value="empty" data-col-value="2"></td>
                <td class="fourth-color empty guess-cell" data-colour-value="empty" data-col-value="3"></td>
                <td class="results">
                    <table>
                        <tr>
                            <td class="empty-opinion opinion " data-col-value="0"></td>
                            <td class="empty-opinion opinion" data-col-value="1"></td>
                        </tr>
                        <tr>
                            <td class="empty-opinion opinion" data-col-value="2"></td>
                            <td class="empty-opinion opinion" data-col-value="3"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <button id="play-btn">►</button>
</div>
<br>

<table id="goals" class="container hidden">
    <tr>
        <td class="goal-cell" data-goal-value="empty" data-col-value="0"></td>
        <td class="goal-cell" data-goal-value="empty" data-col-value="1"></td>
        <td class="goal-cell" data-goal-value="empty" data-col-value="2"></td>
        <td class="goal-cell" data-goal-value="empty" data-col-value="3"></td>
    </tr>
</table>
{% endblock %}


{% block footer %}
<a class ="back_button" href="{{ url_for('index')}}">⇐ Back to main menu</a>
{% endblock %}