{% extends 'layout.html' %}

{% block title %}Game{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
{% endblock %}


{% block content %}
    <div class="game-area">
        <div id="user-container">
            {% if session['username'] %}
                <h4 id="player" data-player-name="{{ session['username'] }}">Player: {{ session['username'] }} </h4>
                {% else %}
                <h4 id="player" data-player-name="unknown"></h4>
            {% endif %}
        <button id="retry-btn">↻ Retry</button>
        </div>
        <div class="container">
            <table id="player_board">
                <tbody id="board-container">

                </tbody>
            </table>
            <br>
            <button id="play-btn">►</button>
        </div>

        <table id="goals" class="container hidden">
            <tr>
                <td class="goal-cell" data-goal-value="empty"></td>
                <td class="goal-cell" data-goal-value="empty"></td>
                <td class="goal-cell" data-goal-value="empty"></td>
                <td class="goal-cell" data-goal-value="empty"></td>
            </tr>
        </table>
        {% include 'game_board_row.html' %}
    </div>
{% endblock %}

{% block footer %}

    <a class="back-btn" href="{{ url_for('main_menu') }}">⇐ Back to Main menu</a>
{% endblock %}