{% extends 'layout.html' %}

{% block title %}Game{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
{% endblock %}


{% block content %}
<button id="retry-btn">↻ Retry</button><br>
<div class = "container">
    <table id="player_board">
        <tbody id="board-container">

        </tbody>
    </table>
    <br>
    <button id="play-btn">►</button>
</div>
<br>

<table id="goals" class="container hidden">
    <tr>
        <td class="goal-cell" data-goal-value="empty"></td>
        <td class="goal-cell" data-goal-value="empty"></td>
        <td class="goal-cell" data-goal-value="empty"></td>
        <td class="goal-cell" data-goal-value="empty"></td>
    </tr>
</table>
{% include 'game_board_row.html' %}
{% endblock %}


{% block footer %}
<a class ="back-btn" href="{{ url_for('index')}}">⇐ Back to game menu</a>

{% endblock %}