<template id="game-board-row-template">
    <tr class="guess-row">
        <td class="empty guess-cell" data-colour-value="empty"></td>
        <td class="empty guess-cell" data-colour-value="empty"></td>
        <td class="empty guess-cell" data-colour-value="empty"></td>
        <td class="empty guess-cell" data-colour-value="empty"></td>
        <td class="results">
            <table>
                <tr>
                    <td class="empty opinion "></td>
                    <td class="empty opinion"></td>
                </tr>
                <tr>
                    <td class="empty opinion"></td>
                    <td class="empty opinion"></td>
                </tr>
            </table>
        </td>
    </tr>
</template>