{% extends 'layout.html' %}

{% block title %}Main menu{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='js/menu.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div class="game-area">
        {% if session['username'] %}
            <h4>Hi {{ session['username'] }}! Ready to be a</h4>
        {% endif %}
        <div class="container">
            <h1 class="main-menu-title">MasterMind {% if session['username'] %}? {% endif %}</h1>
            <h4>Main Menu</h4>
            <a id="start-btn" href="{{ url_for('start_game') }}">Start</a>
            <a id="score-btn" href="{{ url_for('high_score') }}">Score</a>
            {% if session['username'] %}
                <a class="logout-btn" href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            {% if not session['username'] %}
                <a class="logout-btn" href="{{ url_for('index') }}">Back</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}
