{% extends 'layout.html' %}

{% block title %}Main menu{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/menu.js') }}" defer></script>
{% endblock %}


{% block content %}
    {% if session['username'] %}
    <h4>Logged in as: {{ session['username'] }}</h4>
    {% endif %}
<div class="container">
    <h1 class="main-menu-title">MasterMind</h1>
    <h4>Main Menu</h4>
    <a id="start-btn" href="{{ url_for('start_game') }}">Start</a><br>
    <a id="score-btn" href="{{ url_for('high_score') }}">Score</a><br>
    <button id="quit-btn">Quit</button>
</div>
{% endblock %}

{% block footer %}
<a class ="back-btn" href="{{ url_for('index')}}">⇐ Back to home page</a>

{% endblock %}